.bsp/
.idea/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
dist/*
target/
*/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
